<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!--This xacro contains six xacro propperties representing a transformation obtained through calibration-->
<!--Calibration generated at 16:32:25, 30/06/2016 -->
<!--This file was written automatically using the "rosrun blackbot_calibration store_calibration" command. -->
<xacro:property name="roll" value="-1.3190537844"/>
<xacro:property name="pitch" value="0.00340101049727"/>
<xacro:property name="yaw" value="-1.53479744513"/>
<xacro:property name="x" value="0.0163624272899"/>
<xacro:property name="y" value="-0.0802404630618"/>
<xacro:property name="z" value="0.0340890188704"/>
</robot>
