<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!--This xacro contains six xacro propperties representing a transformation obtained through calibration-->
<!--Calibration generated at 22:45:41, 10/05/2017 -->
<!--This file was written automatically using the "rosrun blackbot_calibration store_calibration" command. -->
<xacro:property name="roll" value="-0.00796440881548"/>
<xacro:property name="pitch" value="-0.151422939784"/>
<xacro:property name="yaw" value="-0.0222183295858"/>
<xacro:property name="x" value="-0.0114470226192"/>
<xacro:property name="y" value="0.0141832849622"/>
<xacro:property name="z" value="0.107186444319"/>
</robot>
